header {
    width: 1037px;
    height:151px;
    background-image: url(assets/images/logo2.png);
    background-repeat: no-repeat; 
    background-size: 46%;  
    background-color: #4C5454
}
  
  .encode{
    width: 95%;
    background: #4C5454;
    height: 95%;
    padding: 50px;
    color: #F1F5D8;
    font-family: "Open Sans"
  }
  
  h2 {
    font-size: 50pt;
  }

  input{
    width: 89%;
    height: 41px;
    border-radius: 16px;
    text-align: center;
  }
  .decode{
    width: 95%;
    background: #EAEDD4;
    height: 100%;
    padding: 50px;
    color: #4C5454;
    font-family: "Open Sans"

  }

  h3 {
      font-size: 45pt;
  }
  
  p {
      font-size: 40pt;
  }